#container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.room {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 1px solid black;
}

.text-black {
  color: black;
}
