<div id="container">
  <div class="room" 
       [ngStyle]="{'background-color': uno === 1 ? 'white' : 'transparent'}" 
       [ngClass]="{'text-black': uno === 1}">Sala</div>
  <div class="room" 
       [ngStyle]="{'background-color': dos === 1 ? 'white' : 'transparent'}" 
       [ngClass]="{'text-black': dos === 1}">Cocina</div>
  <div class="room" 
       [ngStyle]="{'background-color': tres === 1 ? 'white' : 'transparent'}" 
       [ngClass]="{'text-black': tres === 1}">Dormitorio</div>
  <div class="room" 
       [ngStyle]="{'background-color': cuatro === 1 ? 'white' : 'transparent'}" 
       [ngClass]="{'text-black': cuatro === 1}">Comedor</div>
  <div class="room" 
       [ngStyle]="{'background-color': cinco === 1 ? 'white' : 'transparent'}" 
       [ngClass]="{'text-black': cinco === 1}">Patio</div>
  <div class="room" 
       [ngStyle]="{'background-color': seis === 1 ? 'white' : 'transparent'}" 
       [ngClass]="{'text-black': seis === 1}">Sótano</div>
</div>
